<!DOCTYPE html>
<html>
    <head>
        <title>List students</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Class</th>
                <th>Mark</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.class_name }}</td>
                <td>{{ student.mark }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>